
body {
  font-family: verdan, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden { 
  display: none;
}

#button1 {
  background: red;
}
#button1:active, #button1.lit {
  background:pink;
}
#button2 {
    background: blue;
}
#button2:active, #button2.lit {
    background: purple;
}
#button3 {
  background: yellow;
}
#button3:active, #button3.lit {
  background: orange;
}
#button4 {
      background: green;
} 
#button4:active, #button4.lit {
  background: brown;
}
#button5 {
  background: black;
}
#button5:active, #button5.lit {
  background:white;
}
#button6 {
  background:white;
}
#button6:active, #button6.lit {
  background:black;
}